<section class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-mx-12 col-md-12 d-flex justify-content-center my-5 p-6">
              <h2 class="title" [ngStyle]="{'color': currentSection === 'contact' ? '#0ae448' :  'white'}" class="text-center custom-border">
                <i class="fas fa-address-book"></i> Contact
              </h2>
            </div>
            <div class="col-lg-12 d-flex justify-content-center">
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div  class="col-lg-4 col-md-4 col-sm-4 col-xs-4 flex justify-center linkedin" > 
            <a href="www.linkedin.com/in/jason-choque-canaviri-62bb01284" target="_blank" class="social-item">
                <i class="fab fa-linkedin"></i>
                <span>LinkedIn</span>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 flex justify-center whatsapp" > 
            <a href="https://wa.me/64948718" target="_blank" class="social-item">
                <i class="fab fa-whatsapp"></i>
                <span>WhatsApp</span>
            </a>
        </div>
        <div  class="col-lg-4 col-md-4 col-sm-4 col-xs-4 flex justify-center gmail" > 
            <a href="mailto:jasonchoquecanaviri@gmail.com" class="social-item">
                <i class="fas fa-envelope"></i>
                <span>Gmail</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="footer" style="background-color: #0ae448;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex justify-center align-items-center"> 
            <span class="text-footer"> Built from scratch with Angular © Copyright 2025, JasonChoq All Rights Reserved.</span>
        </div>
    </div>
  </section>