<section class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <div class="row d-flex justify-content-center items-center">
          <div class="col-lg-12 col-mx-12 col-md-12 d-flex justify-content-center my-5 p-6">
            <h2 class="title" [ngStyle]="{'color': currentSection === 'skill' ? '#0ae448' :  'white'}" class="text-center custom-border">
              <i class="fas fa-tools"></i> TOOLING
            </h2>
          </div>
          <div class="col-lg-10 d-flex justify-content-center items-center">
            <div class="container rounded-lg">
              <div #figures class="row">
                <div class="col-lg-12 col-mx-12 col-md-12 d-flex flex-wrap justify-around w-full">
                  <figure #efectElement class="d-flex flex-row items-center bg-black pr-5 rounded-lg w-45 h-20 space-x-4 mb-4 efect">
                    <img src="./assets/logos/java.svg" alt="logo" class="h-16 w-16 object-contain default-img">
                    <img src="./assets/logos/javaHover.svg" alt="logo" class="h-16 w-16 object-contain hover-img hidden">
                    <span class="text-white">Java</span>
                  </figure>
                  <figure #efectElement class="d-flex flex-row items-center bg-black pr-5 p-1 rounded-lg w-45 h-20 space-x-4 mb-4 efect">
                    <img src="./assets/logos/angular.svg" alt="logo" class="h-16 w-16 object-contain default-img">
                    <img src="./assets/logos/angularhover.svg" alt="logo" class="h-16 w-16 object-contain hover-img hidden">
                    <span class="text-white">Angular</span>
                  </figure>
                  <figure #efectElement class="d-flex flex-row items-center bg-black pr-5 p-1 rounded-lg w-45 h-20 space-x-4 mb-4 efect">
                    <img src="./assets/logos/azure.svg" alt="logo" class="h-16 w-16 object-contain default-img">
                    <img src="./assets/logos/azurehover.svg" alt="logo" class="h-16 w-16 object-contain hover-img hidden">
                    <span class="text-white">Azure</span>
                  </figure>
                  <figure #efectElement class="d-flex flex-row items-center bg-black pr-5 p-1 rounded-lg w-45 h-20 space-x-4 mb-4 efect">
                    <img src="./assets/logos/flutter.svg" alt="logo" class="h-16 w-16 object-contain default-img">
                    <img src="./assets/logos/flutterhover.svg" alt="logo" class="h-16 w-16 object-contain hover-img hidden">
                    <span class="text-white">Flutter</span>
                  </figure>
                  <figure #efectElement class="d-flex flex-row items-center bg-black pr-5 p-1 rounded-lg w-45 h-20 space-x-4 mb-4 efect">
                    <img src="./assets/logos/git.svg" alt="logo" class="h-16 w-16 object-contain default-img">
                    <img src="./assets/logos/githover.svg" alt="logo" class="h-16 w-16 object-contain hover-img hidden">
                    <span class="text-white">Git Hub</span>
                  </figure>
                </div>
                <div class="col-lg-12 col-mx-12 col-md-12 d-flex flex-wrap justify-around w-full">
                  <figure #efectElement class="d-flex flex-row items-center bg-black pr-5 rounded-lg w-45 h-20 space-x-4 mb-4 efect">
                    <img src="./assets/logos/linux.svg" alt="logo" class="h-16 w-16 object-contain default-img">
                    <img src="./assets/logos/linuxhover.svg" alt="logo" class="h-16 w-16 object-contain hover-img hidden">
                    <span class="text-white">Linux</span>
                  </figure>
                  <figure #efectElement class="d-flex flex-row items-center bg-black pr-5 p-1 rounded-lg w-45 h-20 space-x-4 mb-4 efect">
                    <img src="./assets/logos/javascript.svg" alt="logo" class="h-16 w-16 object-contain default-img">
                    <img src="./assets/logos/javascripthover.svg" alt="logo" class="h-16 w-16 object-contain hover-img hidden">
                    <span class="text-white">JavaScript</span>
                  </figure>
                  <figure #efectElement class="d-flex flex-row items-center bg-black pr-5 p-1 rounded-lg w-45 h-20 space-x-4 mb-4 efect">
                    <img src="./assets/logos/php.svg" alt="logo" class="h-16 w-16 object-contain default-img">
                    <img src="./assets/logos/phphover.svg" alt="logo" class="h-16 w-16 object-contain hover-img hidden">
                    <span class="text-white">PHP</span>
                  </figure>
                  <figure #efectElement class="d-flex flex-row items-center bg-black pr-5 p-1 rounded-lg w-45 h-20 space-x-4 mb-4 efect">
                    <img src="./assets/logos/spring.svg" alt="logo" class="h-16 w-16 object-contain default-img">
                    <img src="./assets/logos/springhover.svg" alt="logo" class="h-16 w-16 object-contain hover-img hidden">
                    <span class="text-white">Spring</span>
                  </figure>
                  <figure #efectElement class="d-flex flex-row items-center bg-black pr-5 p-1 rounded-lg w-45 h-20 space-x-4 mb-4 efect">
                    <img src="./assets/logos/laravel.svg" alt="logo" class="h-16 w-16 object-contain default-img">
                    <img src="./assets/logos/laravelhover.svg" alt="logo" class="h-16 w-16 object-contain hover-img hidden">
                    <span class="text-white">Laravel</span>
                  </figure>
                </div>
                <div class="col-lg-12 col-mx-12 col-md-12 d-flex flex-wrap justify-around w-full">
                  <figure #efectElement class="d-flex flex-row items-center bg-black pr-5 p-1 rounded-lg w-45 h-20 space-x-4 mb-4 efect">
                    <img src="./assets/logos/figma.svg" alt="logo" class="h-16 w-16 object-contain default-img">
                    <img src="./assets/logos/figmahover.svg" alt="logo" class="h-16 w-16 object-contain hover-img hidden">
                    <span class="text-white">Figma</span>
                  </figure>
                  <figure #efectElement class="d-flex flex-row items-center bg-black pr-5 p-1 rounded-lg w-45 h-20 space-x-4 mb-4 efect">
                    <img src="./assets/logos/Illustrator.svg" alt="logo" class="h-16 w-16 object-contain default-img">
                    <img src="./assets/logos/Illustratorhover.svg" alt="logo" class="h-16 w-16 object-contain hover-img hidden">
                    <span class="text-white">Illustrator</span>
                  </figure>
                  <figure #efectElement class="d-flex flex-row items-center bg-black pr-5 p-1 rounded-lg w-45 h-20 space-x-4 mb-4 efect">
                    <img src="./assets/logos/Photoshop.svg" alt="logo" class="h-16 w-16 object-contain default-img">
                    <img src="./assets/logos/Photoshophover.svg" alt="logo" class="h-16 w-16 object-contain hover-img hidden">
                    <span class="text-white">Photoshop</span>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>