<!--
<section id="hello"  style="width: 100%; height: 100vh; background-color: black; display: flex; justify-content: center; align-items: center; position: relative;">
    <div class="container text-center" style="position: relative; height: 100vh;">
        <div id="loading" #loading style="position: absolute; color: white; font-size: 20px;">
            Loading...
        </div>
        <canvas #canvas id="canvas"></canvas>
        
        <h1 class="typing">
            I'm 
            <span style="color:#0ae448; animation-delay: 0s;">Full Stack Developer</span>
            <span style="color: #0ae448; animation-delay: 5s;">Jason </span>
        </h1>
    </div>
</section>
-->

<section id="hello" style="width: 100%; background-color: black; height: 100vh;">
    <div class="container text-center" style="position: relative; height: 100vh;">WW
      <div #loading>Loading...</div>
      <canvas #canvas></canvas>
          <h1 class="typing">
            I'm 
            <span style="color:#0ae448; animation-delay: 0s;">Full Stack Developer</span>
            <span style="color: #0ae448; animation-delay: 5s;">Jason </span>
        </h1>
    </div>
</section>