.fixed-right-nav {
    position: fixed;
    height: 100vh;
    margin: 20px 20px;
    justify-content: flex;
    width: 10%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.fixed-right-nav .menu-toggle {
    z-index: 999;
    width: 2.78em;
    height: 2.09em;
    background: none;
    position: relative;
    display: inline-flex;
    margin-top: 0.699em;
    color: #4831d4;
    cursor: pointer;
}

.fixed-right-nav ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 90%;
    flex-direction: column;
    height: 100%;
}

.fixed-right-nav ul.show {
    display: flex;
}

.fixed-right-nav li {
    cursor: pointer;
    margin: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 0.3s ease;
}

.fixed-right-nav a:hover::after {
    opacity: 1;
}

.fixed-right-nav a {
    font-family: "Tiny5", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    width: 100%;
    transition: color 0.3s ease;
    position: relative;
}

.fixed-right-nav a:hover {
    color: #0ae448;
}